	<link rel="stylesheet" type="text/css" href="css/inscripciones1.css">
	<link rel="stylesheet" type="text/css" href="css/oficinas1.css?">
	<link rel="stylesheet" type="text/css" href="css/fontello.css">
	<link rel="stylesheet" type="text/css" href="css/estadisticas.css">
	<link rel="stylesheet" type="text/css" href="css/styleOficinaPosteo4.css">
	<link rel="stylesheet" type="text/css" href="css/tablas/tablainstructores.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
{{#if user}}
<div class="bienvenida">
	<span>BIENVENIDO: {{ user.nombre }} </span>
	<button id="switch" class="switch">
		<span class="icon-light-down"></span>
		<span class="icon-moon"></span>
	</button>
</div>
{{> nav }}

<div id ="contenido" class="contenido">
<div class="desplasador" style="padding-bottom: 30vh;">
    
<h1>Cuerpo MISIONAL: Misionero {{ user.nombre }} {{ user.apellido }}</h1>
<h2>{{> mensajes }}</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="display" id="table_id" >
            <thead>
                <tr>
                    <th scope="col">CEDULA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CARGO</th>
                    <th scope="col">DIOCESIS</th>
                    <th scope="col">REGISTRADO</th>
                    <th scope="col">DETALLES</th>
                </tr>
            </thead>
            <tbody>
                
            {{#each tabla}}
                <tr>
                    <th scope="row">{{cedula}}</th>
                    <td>{{nombre}}</td>
                    <td>{{cargo}}</td>     
                    <td>{{diocesis}}</td>        
                    <td>{{timeago fecha}}</td>
                    <td style="text-align: center;"><a href="/detallesPersonalCoordinacion/{{usuario}}"><span class="icon-eye"></span></a></td> 
                </tr>
                
            {{else}}
            <h1>NO HAY INSTRUCTORES</h1>
            {{/each}}
            </tbody>
            </table>

        </div>
    </div>
</div>


</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script src="js/efectos/datatable.js"></script>
{{/if}}