   	<link rel="stylesheet" type="text/css" href="/css/oficinas1.css">
	<link rel="stylesheet" type="text/css" href="/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/css/inscripciones1.css">
	<style>
		span{
			width: 300px;
			padding-left: 15px;
		}
		.caja_formularios_archivos{
			padding-bottom: 200px;
		}
	</style>

{{#if user}}
<div class="bienvenida">
	<span>BIENVENIDO: {{ user.nombre }} </span>
	<button id="switch" class="switch">
		<span class="icon-light-down"></span>
		<span class="icon-moon"></span>
	</button>
</div>

{{#if (eq user.cargo "ADMIN")}}
{{> nav }}
{{else}} {{#if (eq user.cargo "ODE")}}
{{> navode }}
{{else}} {{#if (eq user.cargo "OBISPO")}}
{{> navdiocesano }}
{{else}} {{#if (eq user.cargo "RECTOR")}}
{{> navdiocesano }}
{{else}} {{#if (eq user.cargo "COORDINADOR MISIONAL")}}
{{> navdiocesano }}
{{else}} {{#if (eq user.cargo "COORDINADOR TECNOTRONICA")}}
{{> navtecnotronica }}
{{else}} {{#if (eq user.cargo "COORDINADOR AGEACAC")}}
{{> navageacac }}
{{else}} {{#if (eq user.cargo "COORDINADOR JUVENTUDES")}}
{{> navjuventudes }}
{{else}} {{#if (eq user.cargo "MISIONERO")}}
{{> navInstructores }}
{{else}} {{#if (eq user.cargo "INSTRUCTOR LOCAL")}}
{{> navInstructores }}
{{else}} {{#if (eq user.cargo "PROMOTOR DE AGEACAC")}}
{{> navInstructores }}
{{else}} {{#if (eq user.cargo "PROMOTOR DE JUVENTUDES")}}
{{> navInstructores }}
{{else}} {{#if (eq user.cargo "TUTOR DE TECNOTRONICA")}}
{{> navInstructores }}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}

<div class="contenido">
	<div class="desplazador">
		
		<div class="contenedor">
		<div class="caja_formularios_archivos">
			
				<h2>INSERTAR DATOS</h2>
			<form action="/mostrarDatosInstitucionales" method="POST" autocomplete="off">
                {{#each tabla}}
				<input type="hidden" name="cedula" value="{{cedula}}">
				<span>ESTADO: {{estado}}</span>
                <select name="estado" required>
                    <option>ESTADO</option>
                    <option value="NACIONAL">NACIONAL</option>
                    <option value="AMAZONAS">AMAZONAS</option>
                    <option value="ANZOÁTEGUI">ANZOÁTEGUI</option>
                    <option value="APURE">APURE</option>
                    <option value="ARAGUA">ARAGUA</option>
                    <option value="BARINAS">BARINAS</option>
                    <option value="BOLÍVAR">BOLÍVAR</option>
                    <option value="CARABOBO">CARABOBO</option>              
                    <option value="COJEDES">COJEDES</option>
                    <option value="DELTA AMACURO">DELTA AMACURO</option>
                    <option value="DISTRITO CAPITAL">DISTRITO CAPITAL</option>
                    <option value="FALCÓN">FALCÓN</option>
                    <option value="GUÁRICO">GUÁRICO</option>
                    <option value="LARA">LARA</option>
                    <option value="MÉRIDA">MÉRIDA</option>
                    <option value="MIRANDA">MIRANDA</option>
                    <option value="MONAGAS">MONAGAS</option>
                    <option value="NUEVA ESPARTA">NUEVA ESPARTA</option>
                    <option value="PORTUGUESA">PORTUGUESA</option>
                    <option value="SUCRE">SUCRE</option>
                    <option value="TÁCHIRA">TÁCHIRA</option>
                    <option value="TRUJILLO">TRUJILLO</option>
                    <option value="VARGAS">VARGAS</option>
                    <option value="YARACUY">YARACUY</option>
                    <option value="ZULIA">ZULIA</option>
                </select>
				<span>DIOCESIS: {{diocesis}}</span>
				<input type="text" name="diocesis" placeholder="NUEVO DATO" required>
				<span>LUMISIAL: {{lumisial}}</span>
				<input type="text" name="lumisial" placeholder="NUEVO DATO" required>
				<span>INSTRUCTOR: {{instructor}}</span>
            	<input type="text" name="instructor" placeholder="NUEVO INSTRUCTOR" required>
				<span>TIPO: {{tipo}}</span>
                <select name="tipo" required>
                    <option>TIPO DE CLASE</option>
                    <option value="ONLINE">ONLINE</option>
                    <option value="PRESENCIAL">PRESENCIAL</option>
                </select>                 
				<span>DESCRIPCION: {{tipocamara}}</span>
                <select name="tipocamara" required>
                    <option>TIPO DE CAMARA</option>
                    <option value="AULA">AULA</option>
                    <option value="CAMARA BASICA">CAMARA BASICA</option>
                    <option value="CAMARA DE REINGRESO">CAMARA DE REINGRESO</option>
                </select>
				<span>ESTATUS: {{estatus}}</span>
                <select name="estatus">
                    <option value="POR ASIMILAR">SELECIONAR</option>
                    <option value="POR ASIMILAR">POR ASIMILAR</option>
                    <option value="ASIMILADO">ASIMILADO</option>
                </select>
				<span>ACTIVIDAD: {{acin}}</span>                
                <select name="acin">
                    <option value="INACTIVO">SELECIONAR</option>
                    <option value="INACTIVO">INACTIVO</option>
                    <option value="ACTIVO">ACTIVO</option>
                </select>
				<span>FINAL: {{final}}</span>                
                <select name="final">
                    <option value="PROCESANDO">SELECIONAR</option>
                    <option value="PROCESANDO">PROCESANDO</option>
                    <option value="FINAL EXITOSO">FINAL EXITOSO</option>
                    <option value="FINAL SIN EXITO">FINAL SIN EXITO</option>
                </select>
				<span>TIEMPO DE INSCRIPCION: {{timeago fecha}}</span>
				<input type="submit" value="ENVIAR">
                 {{else}}
                    <h1>NO HAY INSTRUCTOR CON ESE USUARIO</h1>
                {{/each}}
			</form>
		</div>
		</div>		
	</div>
</div>	

{{/if}}