   	<link rel="stylesheet" type="text/css" href="/css/oficinas1.css">
	<link rel="stylesheet" type="text/css" href="/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/css/inscripciones1.css">
	<style>
		span{
			width: 300px;
			padding-left: 15px;
		}
		.caja_formularios_archivos{
			padding-bottom: 200px;
		}
	</style>

{{#if user}}
<div class="bienvenida">
	<span>BIENVENIDO: {{ user.nombre }} </span>
	<button id="switch" class="switch">
		<span class="icon-light-down"></span>
		<span class="icon-moon"></span>
	</button>
</div>

{{> nav }}
<div class="contenido">
	<div class="desplazador">
		
		<div class="contenedor">
		<div class="caja_formularios_archivos">
			
				<h2>INSERTAR DATOS</h2>
			<form action="/mostrarDatosC" method="POST" autocomplete="off">
                {{#each tabla}}
				<input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="usuario" value="{{usuario}}">
				<span>CEDULA: {{cedula}}</span>
				<input type="text" name="cedula" placeholder="NUEVA CEDULA" required>
				<span>CARGO: {{cargo}}</span>
				<select name="cargo" required>
                    <option value="PORCOMPLETAR">CARGO</option>
					<option value="OBISPO DE ENSEÑANZA">OBISPO DE ENSEÑANZA</option>
					<option value="SECRETARÍA DE ENSEÑANZA">SECRETARÍA DE ENSEÑANZA</option>                
					<option value="OBISPO">OBISPO</option>
					<option value="ENCARGADO">ENCARGADO</option>
					<option value="COORDINADOR MISIONAL">COORDINADOR MISIONAL</option>
					<option value="COORDINADOR TECNOTRONICA">COORDINADOR TECNOTRONICA</option>
					<option value="COORDINADOR AGEACAC">COORDINADOR AGEACAC</option>
					<option value="COORDINADOR JUVENTUDES">COORDINADOR JUVENTUDES</option>              
					<option value="MISIONERO">MISIONERO</option>
					<option value="INSTRUCTOR LOCAL">INSTRUCTOR LOCAL</option>
					<option value="TUTOR DE TECNOTRONICA">TUTOR DE TECNOTRONICA</option>
					<option value="PROMOTOR DE AGEACAC">PROMOTOR DE AGEACAC</option>
					<option value="PROMOTOR DE JUVENTUDES">PROMOTOR DE JUVENTUDES</option>					
                </select>
				<span>ESTADO: {{estado}}</span>
				<select name="estado" required>
					<option value="PORCOMPLETAR">ESTADO</option>
					<option value="NACIONAL">NACIONAL</option>
					<option value="AMAZONAS">AMAZONAS</option>
					<option value="ANZOÁTEGUI">ANZOÁTEGUI</option>
					<option value="APURE">APURE</option>
					<option value="ARAGUA">ARAGUA</option>
					<option value="BARINAS">BARINAS</option>
					<option value="BOLÍVAR">BOLÍVAR</option>
					<option value="CARABOBO">CARABOBO</option>              
					<option value="COJEDES">COJEDES</option>
					<option value="DELTA AMACURO">DELTA AMACURO</option>
					<option value="DISTRITO CAPITAL">DISTRITO CAPITAL</option>
					<option value="FALCÓN">FALCÓN</option>
					<option value="GUÁRICO">GUÁRICO</option>
					<option value="LARA">LARA</option>
					<option value="MÉRIDA">MÉRIDA</option>
					<option value="MIRANDA">MIRANDA</option>
					<option value="MONAGAS">MONAGAS</option>
					<option value="NUEVA ESPARTA">NUEVA ESPARTA</option>
					<option value="PORTUGUESA">PORTUGUESA</option>
					<option value="SUCRE">SUCRE</option>
					<option value="TÁCHIRA">TÁCHIRA</option>
					<option value="TRUJILLO">TRUJILLO</option>
					<option value="VARGAS">VARGAS</option>
					<option value="YARACUY">YARACUY</option>
					<option value="ZULIA">ZULIA</option>
				</select>
				<span>DIOCESIS: {{diocesis}}</span>
				<input type="text" name="diocesis" placeholder="NUEVA DIOCESIS" required>
				<span>ESTADOS RECORRIDOS: {{estadosrecorridos}}</span>
				<input type="text" name="estadosrecorridos" placeholder="NUEVOS ESTADOS" required>
				<span>ESTATUS: {{estatus}}</span>				
				<select name="estatus" required>
					<option value="PORCOMPLETAR">SELECCIONAR</option>
					<option value="DISPOSICION NACIONAL">DISPOSICION NACIONAL</option>
					<option value="DISPOSICION LOCAL">DISPOSICION LOCAL</option>
					<option value="REPOSO">REPOSO</option>
				</select>
				<input type="submit" value="ENVIAR">
                 {{else}}
                    <h1>NO HAY INSTRUCTOR CON ESE USUARIO</h1>
                {{/each}}
			</form>
		</div>
		</div>		
	</div>
</div>	

{{/if}}